@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.material-symbols-sharp {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 200,
  'opsz' 48
}

body{
    font-family: "Poppins",sans-serif;

}
#map{
    width: 68%;
    margin: 0 auto;
    margin-top: 1rem;
    height: 30rem;
    background: aqua !important;
    z-index: 200;
    -webkit-box-shadow: 0px 54px 167px -56px rgba(255, 0, 0, 0.156);
-moz-box-shadow: 0px 54px 167px -56px rgba(255, 0, 0, 0.156);
box-shadow: 0px 54px 167px -56px rgba(255, 0, 0, 0.156);
}

.burger{
    display: none;
}

.nav{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 20px -5px;
}
.logo{
    margin-left: 2;
}

.navbar-brand{
    font-weight: 700;
} 

.navi{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.lis{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.lis a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: .2rem;
    font-size: 1rem;
    opacity: .7;
    position: relative;
}


.lis a.active::before{
    content: "";
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    width: 100%;
    border-bottom: 3px solid rgba(255, 0, 0, 0.493);
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
}


.lis a span{
    font-size: 1rem;
    opacity: .7;
}

.lis a:hover{
    opacity: 2;
    transition: 300ms ease;
}

.lis a:hover span{
    transition: 300ms ease;
    opacity: 2;
}

.profile{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: .2rem;
    font-size: 1rem;
    opacity: .7;
    transition: 300ms ease;
    cursor: pointer;
}
.profile a{
    font-size: 1rem;
    text-decoration: none;
}

.profile span{
    font-size: 1rem;
}

.profile:hover span, .profile:hover a{
     color: rgb(49, 87, 149) !important;
    transition: 200ms ease;
    
}

.profile:hover{
   border-bottom: 1px solid rgb(49, 87, 149) !important;
   transition: 300ms ease !important;
}


@media screen and (max-width: 835px){
    .navi{
        position: fixed !important;
        top: 0;
        left: -100%;
        z-index: 10;
        height: 100% !important;
        width: 18rem !important;
        flex-direction: column;
        background-color: rgb(222, 56, 56);
        align-items: flex-start;
        transition: 500ms ease;
    }
    .nav{
        justify-content: space-between;
    }
    .logo{
        margin-left: 2rem;
    }
    .burger{
        margin-right: 2rem;
    }

    .navi.active{
        left: 0;
        transition: 500ms ease;
    }

    .lis{
        position: absolute;
        top: 6rem;
        left: 0rem;
        flex-direction: column;
        text-align: left;
        padding-left: 2rem;
        align-items: flex-start;
    }

    .lis a{
        color: whitesmoke  !important;
    }

    .lis a span{
        color: whitesmoke  !important;
    }

    .profile{
        position: absolute;
        top: 17rem;
        align-items: center;
        margin-left: 2rem;
        padding: 10px 20px;
        opacity: 1;
        background-color: rgb(0, 174, 255);
    }
    .burger{
        display: block;
    }
    .burger span{
        font-size: 2rem;
    }

    .profile a, .profile span{
        color: whitesmoke !important;
    }
}

@media screen and (max-width: 487px){
    .nav{
        width: 100%;
    }
    .nav .logo{
       margin-left: 1rem;
    }
    .nav .burger{
        margin-right: 1rem;
     }
}

.seksioni{
    width: 68%;
    margin: 0 auto;
}

.timeline {
    border-left: 1px solid hsl(213, 100%, 84%);
    position: relative;
    list-style: none;
  }
.timeline h5{
    font-size: 1.1rem;
}
.timeline h5{
    font-size: 1.1rem;
}
.timeline p{
    font-size: 13px !important;
    
}
  .timeline .timeline-item {
    position: relative;
  }

  .timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
  }

  .timeline .timeline-item:after {
    background-color: hsl(4, 100%, 90%);
    left: -38px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
  }
  @media screen and (max-width: 835px){
  .seksioni{
    width: 90%;
  }
}

.longi{
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: .2rem;
}

.longi .ww{
    font-weight: 800;
    font-size: 1rem;
    margin-left: 1rem;
}

.copy{
    font-size: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}
.gjat, .gjer{
    margin-left: .2rem;
    cursor: pointer;
}

.mapi{
    font-size: .8rem;
    margin-top: rem;
    padding: 7px 20px;
}

.timeline-item{
    -webkit-box-shadow: 0px 19px 70px -8px rgba(240, 17, 17, 0.232);
-moz-box-shadow: 0px 19px 70px -8px rgba(240, 17, 17, 0.156);
box-shadow: 0px 19px 70px -8px rgba(240, 17, 17, 0.092);
}



#shkyqu{
    border: none;
    outline: none;
    background-color: transparent;
}

#shkyqu:focus{
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: none;
}

.close{
    border: none;
    outline: none;
    font-size:1.5rem;
    background-color: transparent;
}

#exampleModalLabel{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: .5rem;
}

#exampleModalLabel span:first-child{
    margin: 0 !important;
}


